<h2>Create a new Post</h2>

<form class="form-register" id="newPost-form">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="text" class="form-control" id="postTitle">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea class="form-control" id="postDescription" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary" id="postSubmit">Submit</button>
</form>

<script src="js/newPost.js"></script>