<h2>Login</h2>


<form class="form-register" id="login-form">
  <div class="mb-3">
    <label for="user-first" class="form-label">User Name</label>
    <input type="text" class="form-control" id="userName-login">
  </div>
  <div class="mb-3">
    <label for="user-last" class="form-label">Password</label>
    <input type="password" class="form-control" id="userPassword-login">
    {{!--type="password"--}}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
<div class="card">
  <p>
    Not signed up?
  </p>
  <a href="/signup">Sign Up Here</a>

</div>
<script src="/js/login.js"></script>