<h2>Sign up for a new account!</h2>


<form class="form-register">
  <div class="mb-3">
    <label for="user-first" class="form-label">User Name</label>
    <input type="text" class="form-control" id="userName">
  </div>
  <div class="mb-3">
    <label for="user-last" class="form-label">Password</label>
    <input type="password" class="form-control" id="userPassword">
  </div>
    <div class="mb-3">
    <label for="user-last" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="userPasswordConfirm">
  </div>
  <button type="submit" class="btn btn-primary" id="signUpButton">Submit</button>

</form>

<script src="js/signUp.js"></script>