<h2>"This is the Sign Up Handlebar :)"</h2>


<form class="form-register">
  <div class="mb-3">
    <label for="user-first" class="form-label">User Name</label>
    <input type="text" class="form-control" id="userName">
  </div>
  <div class="mb-3">
    <label for="user-last" class="form-label">Password</label>
    <input type="text" class="form-control" id="userPassword">
  </div>
    <div class="mb-3">
    <label for="user-last" class="form-label">Confirm Password</label>
    <input type="text" class="form-control" id="userPassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>